
{% block content %}
<html>
    <head>
        <meta charset="UTF-8">
        <!--<link rel="stylesheet" type="text/css" href="../static/Dashboard.css">-->
        <title>Dashboard </title>
    </head>
	
<!--<style>
.btn{margin:16px 6px 2px 0;color:#ffffff;font-weight:bold;display:inline-block;padding:6px 12px;font-size:16px;text-align:center;cursor:pointer;outline:0;float:left;background-color:#55acee;}
.btn a {color:#ffffff;text-decoration:none;}
</style>
-->

<!--<div class="btn">
	<button type="button">Dashboard</button>
</div>-->
<body>
<div id="wrapper">
	
Estamos dentro de Dashboard
</div>

</body>
</html>
{% endblock %}